<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading">Rockport Software is dedicated to enabling the Intelligent Enterprise.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Business Intelligence and Data Warehousing</h4>
                                    <h4 class="subheading">Business Intelligence in practice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Rockport Software has many years' experience and great depth of expertise in Business Intelligence and Data Warehousing, having designed, developed and implemented BI and DW systems and applications for many clients worldwide.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enterprise Performance Management</h4>
                                    <h4 class="subheading">Improving performance throughout the enterprise</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Enterprise performance management, including Key Performance Indicators, Balanced Scorecard, activity costing.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Information Modelling</h4>
                                    <h4 class="subheading">Towards enterprise knowledge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>This is about information modelling, for clients such as Heathrow Airport and ACI ACRIS.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Business Intelligence platforms</h4>
                                    <h4 class="subheading">The technology to deliver real intelligence</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Information on technologies, including Oracle, Microsoft, and cloud platforms. Migrate to cloud platforms.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>