  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="address" >
                        {% for address in site.address %}
                        <li>{{ address.line }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-2">
                    <span class="copyright" style="font-size:15px;color: #000000;"> &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2">
                   <a class="iconLink" href="mailto:info@rockportsoft.com">
                    <i class="fa fa-envelope" style="padding: 5px;color: #000000"></i>Mail To</a>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline quicklinks" style="color:#000000">
                        <li><a href="privacy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>