  <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="address" >
                        {% for address in site.address %}
                        {{ address.line }}<br/>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="copyright" style="font-size:14px;color: #000000;"> &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2">
                    <!--<ul class="list-inline quicklinks" style="color:#FFFFFF">
                        <li><a href="#privacyModal">Privacy Policy</a>
                        </li>
                    </ul>-->
                    <button type="button" class="btn btn-privacy" data-toggle="modal" data-target="#privacyModal">Privacy Policy</button>
                </div>
                <div class="col-md-2">


              <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "info", "rockportsoft.com" )
              + '"> 
              + '<span class="email" style ="text-decoration:none;text-underline:none;">'
              + '<i class="fa fa-envelope" style="padding: 5px; color: #000000"></i></span>' 
              + ' Mail To</a>'
              );
              </script>

                </div>
            </div>
        </div>

<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="privacyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Privacy and Cookie Policy</h4>
      </div>
      <div class="modal-body">
                <p>
                  Cookies are small text files stored on your computer when you visit web pages. If you return to a website, the visit can be recognised as a repeat visit using these these cookies.
                </p>
                <p>
                  We use Google Analytics and Statcounter to analyse statistical information about visitors to our website including data regarding location and browser type.
                </p>
                <p>
                  Most web browsers automatically accept cookies, but browser settings can be altered to block cookies if you do not wish them to be used. You will still be able to browse this site if cookies have been disabled in your browser.
                </p>
                <p>
                  This policy was last modified on May 25th, 2012.
                </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    </footer>