    <!-- Header -->
    <header>

    <div id="bsCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-interval="2000">

       <!-- Indicator Icons -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#bsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#bsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#bsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#bsCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

       <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="carousel-item slides active" >
           <div class="slide-1"></div>
              <div class="hero">
                 <hgroup>
                    <h1>All about information</h1>    
                    <h3>Enabling the intelligent enterprise</h3>
                 </hgroup>
              <a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
           </div>
        </div>

        <div class="carousel-item slides">
           <div class="slide-2"></div>
              <div class="hero">
                 <hgroup>
                    <h1>Digital Twins</h1>
                    <h3>Enabling the intelligent enterprise</h3>
                 </hgroup>
              <a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
           </div>
        </div>

        <div class="carousel-item slides">
           <div class="slide-3"></div>
              <div class="hero">
                 <hgroup>
                    <h1>Information Modelling</h1>
                    <h3>Enabling the intelligent enterprise</h3>
                 </hgroup>
              <a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
           </div>
        </div>

        <div class="carousel-item slides">
           <div class="slide-4"></div>
              <div class="hero">
                 <hgroup>
                    <h1>Innovative Software Development</h1>
                    <h3>Enabling the intelligent enterprise</h3>
                 </hgroup>
              <a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
           </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#bsCarousel" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#bsCarousel" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
      </button>
    </div>

    
    </header>

