<!-- Products Section -->
    <section class="page-section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Innovative Products</h2>
                    <h3 class="section-subheading">Rockport Software Product and Service Solutions</h3>
                </div>
            </div>

<!-- DT + Sim -->
            <div class="row text-center">
                <div class="col-md-6">
                    <a href="/projects/index.html" rel="noopener">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-plane fa-stack-1x fa-inverse"></i>
					</span>
                    </a>
                    <h4 class="service-heading">Airport Digital Twin</h4>
                    <p>Rockport's innovative 3D visualization tool can be used create an immersive view of a digital twin, composing 3D objects in a dashboard to allow interaction with and navigation around the virtual environment. </p>
					
					<p>We model existing systems and processes based on the BEAM format. Modelling includes mapping the systems’ data schema to the common ontology, enabling the digital twins of these systems to be fully inter-operable. 
                    </p>
					
			        <p>Our patented event driven runtime provides a standard way to ingest event data to update the state of digital twins representing physical assets and systems. Data from multiple sources, with different levels of granularity, e.g. from applications or IOT devices, are transformed into the standard event-based message model. 
                    </p>


                    <p>More information can be found on our <a href="/projects/index.html" rel="noopener">Projects page</a></p>
                    <p>Please get in touch to find out more information.</p>
                    <a href="mailto:info@rockportsoft.com" target="_blank" rel="noopener" class="btn btn-contact" role="button">Email Rockport</a>
                </div>



                <div class="col-md-6">
                    <a href="/projects/index.html" rel="noopener">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-sitemap fa-stack-1x fa-inverse"></i>
					</span>
                    </a>
                    <h4 class="service-heading">Digital Twin Scenario Simulator</h4>
                    <p>Rockport uses an innovative digital twin-to-digital twin interaction model as the basis for simulations. </p>
					<p>By using an existing airport digital twins, our simulation platform can leverage existing data feed investments to instantiate the baseline simulation of the airport. Using synthetic atomic events, the simulator generates realistic scenarios to test and optimize the virtual airport. The atomic events define the attributes of physical entities to dynamically compose a 3D visualization of the airport.</p>
					<p>Our simulation scenario platform allows facilities, assets, services and processes to be simulated based on their known state, capacities and behaviors. </p>
                    <p>More information can be found on our <a href="/projects/index.html" rel="noopener">Projects page</a></p>
                    <a href="mailto:info@rockportsoft.com" target="_blank" rel="noopener" class="btn btn-contact" role="button">Email Rockport</a>
					</div>

			</div>

<!-- Broker + RDM -->
            <div class="row text-center">
                <div class="col-md-6">
                    <a href="/modernmessaging/index.html" rel="noopener">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-plane fa-stack-1x fa-inverse"></i>
					</span>
                    </a>
                    <h4 class="service-heading">Rockport Baggage Message Broker</h4>
                    <p>Our industry leading solution message broker supports the new IATA Recommended Practice 1755 XML (and RP 1745) messaging standards. </p>
                    <p>Built using a micro-service architecture, the Rockport solution can be deployed as a cloud service (or on-premise) and can be flexibly scaled to meet the requirements for any size of messaging volume.</p>
					<p>Our innovative design provides a modular solution architecture, supporting flexible deployments based on required functionality. Optional modules include message transformation (BIM to XML, or XML to BIM), message masking, message archival and track and trace capabilities. </p>
                    <p>More information about this product can be found on our <a href="/modernmessaging/index.html" rel="noopener">Baggage Messaging page</a></p>
                    <p>Please get in touch to find out more information.</p>
                    <a href="mailto:info@rockportsoft.com" target="_blank" rel="noopener" class="btn btn-contact" role="button">Email Rockport</a>
                </div>



                <div class="col-md-6">
                    <a href="/referencedata/index.html" rel="noopener">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-sitemap fa-stack-1x fa-inverse"></i>
					</span>
                    </a>
                    <h4 class="service-heading">Rockport Aviation Reference Data Service</h4>
                    <p>Rockport Software hosts and maintains an Aviation Industry Reference Data Repository.</p>
                    <p>Reference data is that data that describes key aviation concepts like flight, airport, airline, asset and passengers.
                    Examples include airport codes, airline codes, aircraft types and flight codes</p>

                    <p>Rockport already offers a comprehensive of set high quality reference data which, uniquely in the market, is fully compliant with ACI's ACRIS Semantic Model.
                    </p>

                    <p>More information about this service can be found on our <a href="/referencedata/index.html" rel="noopener">Reference Data page</a></p>
                    <p>For more information, or to request access to the Reference Data Repository and Data Service, please get in touch.</p>
                    <a href="mailto:info@rockportsoft.com" target="_blank" rel="noopener" class="btn btn-contact" role="button">Email Rockport</a>
					</div>

			</div>


        </div>
    </section>
