<section id="magic" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>This is a paragraph about Rockport Software.</p>
          </div>
          <p>This is a more detailed paragraph about Rockport Software as a company.</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/about/1.jpg" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section>