<!-- Partners -->
    <section id="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Partners</h2>
                    <h3 class="section-subheading">Rockport Software strategic alliances.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/aci.jpg" class="img-responsive img-centered" alt="ACI">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/targit.png" class="img-responsive img-centered" alt="TargIT">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/airinno.png" class="img-responsive img-centered" alt="Air Inno">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/oracle.jpg" class="img-responsive img-centered" alt="Oracle">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/microsoft.png" class="img-responsive img-centered" alt="Microsoft">
                    </a>
                </div>
            </div>
        </div>
    </section>