<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Intelligent Enterprise</h2>
                    <h3 class="section-subheading text-muted">To support the Intelligent Enterprise</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultancy</h4>
                    <p class="text-muted">Core to Rockport Software's business is the provision of high quality Business Intelligence, DSS and OLAP Consultancy Services to our clients. We have extensive experience using Business Intelligence technology which is integrated with a deep understanding of BI, requirements as well as the common misconceptions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Solutions</h4>
                    <p class="text-muted">As an Oracle partner, Rockport Software can ensure you are licensed correctly and cost-effectively. Contact us now if you are considering expanding your use of Oracle business intelligence technology, or if you are looking to upgrade and need licensing advice.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Services</h4>
                    <p class="text-muted"> Rockport Software has many years experience of delivering powerful decision support solutions around Oracle industry leading Business Intelligence product range. Rockport brings a strong blend of business expertise and an understanding of this technology to deliver to our clients the means to make better business decisions.</p>
                </div>
            </div>
        </div>
    </section>
