<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='Content-Security-Policy' content="default-src 'self'; script-src 'self' 'unsafe-inline' https://www.google-analytics.com https://www.googletagmanager.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: https://www.google-analytics.com www.google-analytics.com www.googletagmanager.com https://www.googletagmanager.com; media-src 'self'; connect-src https://www.google-analytics.com www.google-analytics.com; font-src 'self' data:; frame-src https://www.youtube-nocookie.com; form-action 'none';">
    <!-- <meta http-equiv='Content-Security-Policy' content="default-src 'self' www.google-analytics.com; script-src 'self' 'unsafe-inline' www.google-analytics.com www.googletagmanager.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: www.google-analytics.com; media-src 'self'; font-src 'self' data:; frame-src https://www.youtube-nocookie.com;frame-ancestors 'none'; form-action 'none';">  -->
    <!-- Ignored in CSP when added via meta tag:   frame-ancestors 'none'; -->

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS including Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/rockport_style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
	<!-- <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>  -->
    <!-- <link rel="stylesheet" href="{{ "/assets/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">   -->
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome/css/fontawesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome/css/brands.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome/css/solid.min.css" | prepend: site.baseurl }}">

    <!-- Google fonts-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />  -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />  -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->

    <!-- Rockport Specific  -->
    <meta name="robots" content="index,follow">
    <meta name="Copyright" content="Rockport Software">
    <meta name="keywords" content="Business Intelligence, Analytics, Big Data, Information Modelling, Budgeting, Forecasting, Planning, Consolidation, Reporting, 
                                   Database, OLAP, OBIEE, Oracle, Data Warehousing, Hadoop, Cloud, Baggage, MQTT, Broker, RP1745, RP1755, Baggage XML,  
                                   IATA, ACI, AIDM, Aviation, Industry, Data Model, ACRIS, Airports, API, Travel, Semantic Modelling, XML, JSON,
								   Fly2Plan, UTM, UAM, Drones, Unmanned, Future Flight, Blockchain, DLT">

    <!-- Rockport Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" > 
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png" /> 
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png" />

    <!-- Rockport Google Webmaster Tools --> 
    <meta name="verify-v1" content="R0Kc3XfdUDy1jxrSF1SYZj0nTBcdkvB28qWgxI5yQFY="> 
    <meta name="google-site-verification" content="9V9ofD_DUkP_FbczGbkgpE9g1Z7myxF_r1jmbsSzgqA" />
 
	<!-- 2022 Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-8XFFYQRQDJ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-Q5BVGXJTSQ');
	</script>
	
</head>
