 <!-- Privacy Modal -->
    <div class="modal fade" id="modal_privacy" tabindex="-1" role="dialog" aria-labelledby="modal_privacyLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modal_privacyLabel">Privacy &amp; Cookie Policy</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Cookies are small text files stored on your computer when you visit web pages. If you return to a website, the visit can be recognised as a repeat visit using these these cookies.
                </p>
                <p>
                  We use Google Analytics and Statcounter to analyse statistical information about visitors to our website including data regarding location and browser type.
                </p>
                <p>
                  Most web browsers automatically accept cookies, but browser settings can be altered to block cookies if you do not wish them to be used. You will still be able to browse this site if cookies have been disabled in your browser.
                </p>
                <p>
                  This policy was last modified on May 25th, 2012.
                </p>
            </div>
                </div>
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
