---
layout: standard_page
---

<div class="home">
  <br/>
  <br/>
  <br/>

  <div style="width: 70%; margin: 0 auto;">
    <h1>Projects</h1>

    <p>Rockport is an active member of the Airports Council International (ACI) working group that is responsible for the definition
      of standards for information exchange, known as the ACRIS initiative. ACRIS stands for Airport Community Recommended
      Information Services.</p>

    <br/>

    <p>Rockport also actively participates in the IATA/ACI Baggage XML initiative. This initiative has developed a new standard
      for bag messaging that will revolutionise the world af Baggage Operations. The new standard, known as Recommended Practice
      1755, will replace RP 1745 in due course. This will greatly facilitate the reduction in misconnected bags. It will
      also support the new IATA Resolution 753 that requires airlines to provide certain mandatory information to passengers
      regarding the location of their bags.</p>
  </div>
</div>